*{
    margin: 0;
    padding: 0;
}

.body_background{
    background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.bg-light {
    background-color: transparent !important;

}

.navbar-toggler{
    border: none;
}
.incio_section{
  margin-top: 15rem;
  display: flex;
  justify-content: center;
}
.title{
    font-size: 5rem;
}
.section_servicios{
    margin-top: 15rem;
    display: flex;
    justify-content: center;
}

.section_servicios_article{
    width: 25%;
    height: 18rem;
    border: solid black;
    margin: 1.5rem;

}
