*{
    margin: 0;
    padding: 0;
}

.body_background{
    background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg-light {
    background-color: transparent !important;

}

.navbar-toggler{
    border: none;
}